

html{
  color: rgba(3,27,78,.7)
  }

a:hover{
  text-decoration: none;
}
.pad{
  padding:120px 0;
}
.pad-2{
  padding:80px 0;
}
.title{
  font-size: 4rem;
  color: #031b4e;
  text-align: center;
  font-weight: 900;
  margin-bottom: 50px;
}
.title-w{
  font-size: 4rem;
  color: white;
  text-align: center;
  font-weight: 900;
  margin-bottom: 50px;
  line-height: 6rem;
}
.sub-title{
  font-size: 20px;
  text-align: center;
  color: rgba(3,27,78,.7);
  margin-bottom: 50px;
  line-height: 34px;
}


.menu{
  background: white;
  width: 100%;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(3,27,78,.1)
}
.navigation , .login{
  padding: 10px 30px ;

}
.login{
  height: 40px;
  border-bottom: solid 1px rgb(221, 221, 221);
}
.login::after , .navigation::after {
  display: table;
  content: '';
  clear: both;
}
.login .left , .navigation .left{
  float: left;
}
.login .right , .navigation .right{
  float: right;
}

.navigation ul li , .login ul li {
  display: inline-block;
  padding: 0 13px;
}

/* login */
.login  a{
  color: #5b6987!important;
  font-weight: 400;
}
.login > .left > a{
  font-size: 12px;
}

.login  span{
  background: #00d7d2;
  padding: 3px 6px;
  border-radius: 5px;
  margin-right: 6px;
  color: #5b6987;
  font-size: 10px;
}

.login > .right  a{
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}



/* menu navigazione sito seconda riga menu */
.menu .navigation img{
  float: left;
  margin-right: 50px;
  margin-top:5px;
}
.navigation{
  height: 65px;
}
.navigation ul li {
  padding: 14px 15px;
}
.navigation .left{
  width: 100%;
}

.navigation a{
  font-size: 14px;
  color: #031b4e;
  font-weight: 500;
}
.btn-login a{
  border: solid 1px blue;
  border-radius: 10px;
  padding: 10px;
  color: blue!important;
}




/* header */
.hero{
  margin-top: 50px;
  min-height: 800px;
  background-image: url('img/hero.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.text-header{
  padding-top: 90px;
  min-height: 800px;
}
.text-header > .text , .text-header > .form{
padding-top: 90px;
}

/* blocco testo header */
.text-header .text{
  padding-top: 150px;
}

.text-header .text  h1{
  color: white;
  font-size: 6rem;
  margin-bottom: 20px;
  font-weight: 900;
}
.text-header .text  p{
  color: white;
  font-size: 2.2rem;
  line-height: 4rem;
}


/* blocco form header */
header .form::after{
  display: table;
  content: '';
  clear: both;
}


.card {
  float: right;
  height: 433px;
  max-width: 360px;
  background: white;
  padding: 25px 35px;;
  border-radius: 6px;
  margin-bottom: 50px;
}

.card .card-title{
  text-align: center;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 30px;

}

header .form-control{
  height: 50px;
}

.account a ,  .google a{
  padding: 15px;
  display: block;
  text-align: center;
}

.account a {
  background: #15cd72;
  border-radius: 4px;
  color: white;
}

.google a {
  background: white;
  border-radius: 4px;
  color: rgb(156, 156, 156);
  box-shadow: -2px 2px 3px gray;
}

/* term */
.terms {
  text-align: center;
  margin-top: 30px;
}
.terms p{
  color: rgb(162, 162, 162)
}
.terms a{
  text-decoration: underline;
}


/* SEZIONE CON LOGHIIIII */
.gray {
  background: #f3f5f9
}
.loghi{
  padding: 50px 0;
}

.container-loghi img{
  width: 130px;
  margin: 0 25px;
  display: inline-block;
  margin-bottom: 30px;
}

.loghi h5{
  color: gray;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.loghi a{
  font-size: 1.8rem;
}


/* SEZIONE servizi */
.services{
  margin-bottom: 50px;
}

.servizi{
  margin-top: 40px;
}

.servizi::after{
  display: table;
  content: '';
  clear: both;
}

.servizi .left{
  float: left;
  width: 20%;
  margin-right: 10%;
}

.servizi .right{
  float: right;
  width: 70%;
}

.icons-services .icon{
  width: 47%;
  display: inline-block;
}

.lista li{
  height: 50px;
  border-left: solid 2px rgb(208, 208, 208);
  padding-left: 40px;
  text-transform: capitalize;
}

.lista li:first-child{
  border-left: solid 2px blue;
}

.lista li a {
  display: block;
  padding-top: 15px;
  font-size: 17px;;
  font-weight: 500;
  color: rgb(177, 177, 177)
}
.lista li:first-child a{
  color:#031b4e;
}
.icons-services .icon span{
  font-size: 4rem;
  color: rgb(0, 105, 255);
  margin-bottom: 10px;
}
.icons-services .icon{
  margin-bottom: 50px;
  padding-left: 40px;
}

.icon h5{
font-size: 2rem;
margin-bottom: 20px;
color:#031b4e;
}

.icon p{
  font-size: 16px;
  color: rgba(3,27,78,.7)
}

.slider{
  max-width: 70%;
  margin: 50px auto;
}
.slider p{
  margin-top: 40px;
  text-align: center;
  font-size: 17px;
  color: rgba(3,27,78,.7);
  margin-bottom: 70px;
}


/* BUSINESS */

.business .colonna span{
  font-size: 5rem;
}

.business .colonna{
  margin-top: 40px;
}

.business .colonna h4{
  font-size: 2.4rem;
  margin-bottom: 15px;
  color:#031b4e;
  font-weight: 500;
  margin-top: 30px;
}

.business .colonna p{
  text-align: left;
  font-size: 17px;
  color: rgba(3,27,78,.7);
  margin-bottom: 30px;
  padding-right: 30px;
}

.business .colonna a{
  font-size: 17px;
  font-weight: 400;
  color: #0069ff
}


 /* world */
 .world{
   background:#031b4e url('img/map.png');
   background-size: cover;
   background-position: bottom;
   background-repeat: no-repeat;
 }
 .world table{
   color: white;
   margin-top: 40px;
 }
.world table tr td{
  padding: 15px 0;
}

.world table tr td:first-child{
  font-weight: 500;

}
.world table tr td:nth-child(2){
  color:white;
  opacity: .7;
  padding-left: 30px;
  font-size: 13px;
}
.world table tr td:nth-child(3) a{
  color:#00d7d2;
}

/* TEAM */
.review{
  max-width: 750px;
  margin: auto;
  background: white;
  padding: 50px;
  color: rgba(3,27,78,.7)


}
.review > .immagine{
  width:200px;
  margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
}

.review .cit{
  font-size: 2.7rem;
  font-weight: 200;
}

.review .name-client{
  font-weight: 500;
  font-size: 17px;
  margin-top: 30px;
}

.review a{
  margin-top: 30px;
  font-size: 19px;
  display: block;
  font-weight: 500;
  color: #0069ff

}


/* GET STARTED */
.btn-start{
  width: 220px;
  margin: auto;
  background: white;
  border-radius: 7px;
  box-sizing: none;
}
.btn-start a{
  color:#0069ff;
  font-size: 17px;
  font-weight: 700;
  padding: 14px 23px;
  display: block;

}


.hero-2{
  background-image: url('img/hero.jpg');
  background-size:auto;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-2  h3{
  color: white;
  margin-bottom: 30px;
  font-size: 3rem;
}





/* footer */
.dark-blue{
  background: #010e28;
  color: white;
}



















@media(max-width:767px){

}
@media(max-width:768px){

  .card{
    float: none;
    max-width: none;
  }
  .hero{
    background-color: #0248ff;
    background-image: none;
  }
  .servizi .left{
    float: left;
    width: 100%;
    margin-right: 10%;
  }
  .servizi .right{
    float: right;
    width: 100%;
  }
  .lista{
    margin-bottom: 50px;
  }
  .lista > li  {
    display: inline-block;
    padding: 0 15px;
  }

}
@media(max-width:992px){
  .menu{
    display: none;
  }
  .hero{
    margin-top: 0;
  }
  .text-header {
    padding-top: 00px;
  }
  .card{
    float: none;
    max-width: none;
  }

}
@media(min-width:1200px){}

/* */
